.row-cols-1 {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  
  .row-cols-md-2 {
    flex-wrap: nowrap;
  }
  
  .row-cols-lg-3 {
    flex-wrap: wrap;
  }
  
  .g-4 {
    gap: 1rem;
  }
  
  .card {
    width: 100%;
  }
  